/** start the global values **/
*{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; /** for defining glopal box sizing on firefox**/
	box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.parent{
}
.container{
padding-left: 12px;
padding-right: 12px;
margin-left: auto;
margin-right:auto;
}
/** small screens **/
@media (min-width: 768px){
  .container{
    width:750px;
  }
}
/** medium screens **/
@media (min-width: 970px){
  .container{
    width:970px;
  }
}
/** large screens **/
@media (min-width: 1200px){
  .container{
    width:1170px;
  }
}
/** end of the glopal values **/
 
/** Start Header**/
.header{
  z-index: 2;
  padding:20px;
} 
/** the space here means the container which is inside header**/
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
  width: 80px;
}
.header .links{
  position: relative;
  z-index: 2;
}
.header .links:hover ul{
display: block;
}
.header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon:hover span:nth-child(2){
  width:100%;
}
.header .links .icon span {
  background-color: black;
  margin-bottom: 5px;
  height: 2px;
  margin-top: 1px;
}
.header .links .icon span:first-child {
  width:100%;
}
.header .links .icon span:nth-child(2) {
  width:60%;
  transition: 0.3s;
}
.header .links .icon span:last-child {
  width:100%;
}
.header .links ul{
min-width: 200px;
    right: 0;
    list-style: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #aaa9a9;
    top: calc(100% + 8px);
   display: none;
  }
.header .links ul:before{
content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6;
    position: absolute;
    right: 5px;
    top: -19px;
  }
.header .links ul a {
    color: #222;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: 0.3s;
}
.header .links ul li {
    border-color: #dedddd;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
  }
.header .links ul li:last-child {
  border: none;
}
.header .links ul a:hover {
  padding-left: 25px;
}
.landing{
  z-index: 1;
    width: 100%;
    background-color: #F6F6F6;
    height: 300px;
    padding: 20px;
    position: relative;
    display: block;
}
.landing .container{
  text-align: center;
}
.landing .text h1{
  color: #10cab7;
}
.services{
  height: 300px;
}
.services .container{
height: 100%;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.services .container i{
    font-size: 50px;
    position: relative;
    text-align: center;
    left: 45%;
  }
.services .container .text{
display: block;
    font-size: 18px;
    color: #2c4755;
    text-align: center;
      padding-left: 10px;
      padding-top: 6px;
}
.services .container .written{
  text-align: center;
  margin-top: 2px;
  position: relative;
  padding-top: 10px;
  font-size: 12px;
  padding-left: 10px;
}

/** End Header **/